:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --theme-clor: #1890ff;
}

body {
  margin: 0;
  
}
button {
  background-color: transparent;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

